body{
    background-color: rgb(111, 193, 118);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    border-radius: 40%;
    border-color: black;
}

html{
    font-family: 'Courier New';
    background-color: rgb(22, 197, 89);
}

a{
    color: rgb(21, 66, 9);
    text-underline-offset: .3rem;
}

img{ 
    clip-path: ellipse(65px 70px);
}

li{
    padding-bottom: 6px;
    background-color: rgb(78, 174, 78);
    border-radius: 3px;
    margin: 6px;    
}
ul{
    margin: 0;
    padding: 0;
}

#sketch-holder canvas {
    border: 2px solid #333;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    margin-top: 20px;
  }

.home-button{
    border: 2px solid #333;
    border-radius: 30%;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    background-color: rgb(36, 35, 35);
    color: rgb(178, 188, 197);
    padding: 5px;
    margin: 10px;
    text-decoration: none;
}